- name: install postgresql packages
  yum: 
    name: ['postgresql']
    state: present

- name: create conf directory
  file:
    path: /opt/cloudland/web/clui/conf
    state: directory
    owner: cland
    group: cland

- name: cland ui config file
  template:
    src: config.toml.j2
    dest: /opt/cloudland/web/clui/conf/config.toml
  tags: [web_conf]

- name: ocd shell config
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: preserve
  with_items:
    - {src: 'ocd.conf', dest: '/opt/cloudland/web/clui/public/misc/openshift/ocd.conf', owner: 'cland'}
    - {src: 'ocd.conf.4.2', dest: '/opt/cloudland/web/clui/public/misc/openshift/ocd.conf.4.2', owner: 'cland'}
    - {src: 'ocd.conf.4.3', dest: '/opt/cloudland/web/clui/public/misc/openshift/ocd.conf.4.3', owner: 'cland'}
    - {src: 'ocd.conf.4.4', dest: '/opt/cloudland/web/clui/public/misc/openshift/ocd.conf.4.4', owner: 'cland'}
  tags: [ocd_conf]

- name: copy service files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: preserve
  with_items:
    - {src: 'hypercube.service', dest: '/lib/systemd/system', owner: 'root'}
    - {src: 'hypercube.sh', dest: '/usr/local/bin', owner: 'cland'}
  tags: [web_srv]

- name: start hypercube service
  systemd: 
    name: hypercube
    enabled: yes
    state: restarted
  tags: [web_srv]

- name: init test data
  script: testdata.sh {{ db_passwd }} {{ hostvars[groups['database'][0]]['inventory_hostname'] }} {{ network_external_vlan }} {{ network_internal_vlan }}
  tags: [test]
  ignore_errors: yes
