# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Packaging
*.tgz
*.sum

#Others
*.log
*.status
/bin
/grpc
/cache
/db
/dnsmasq
/lib64
/log
/run
/users
/volume
/xml
/etc
/conf
build
cloudland.sum
cloudland.tgz
ipcalc
cloudrc.local
sci/Makefile
/sci/config.h
/sci/libtool
/sci/scia/scia64
/sci/stamp-h1
/sci/usecase/dsh/ddsh_fe64
/sci/usecase/dsh/dsh_be64
/sci/usecase/dsh/dsh_fe64
/sci/usecase/dsh/edsh_fe64
/sci/usecase/dsh/gdsh_fe64
/sci/usecase/dsh_2/dsh_be64
/sci/usecase/dsh_2/dsh_fe64
/sci/usecase/dsh_2/edsh_fe64
/sci/usecase/dsh_2/gdsh_fe64
/sci/usecase/dsh_2/sdsh_fe64
/sci/usecase/dsh_filter/dsh_be64
/sci/usecase/dsh_filter/dsh_fe64
/sci/usecase/dsh_filter/dsh_tests64
/sci/usecase/dsh_filter2/dsh_be64
/sci/usecase/dsh_filter2/dsh_fe64
