# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Packaging
*.tgz
*.sum

#Others
wget-log
/deploy/hosts/hosts
/web/clui/clui
/web/clui/public/misc/openshift/ocd.conf*
web/clui/public/novnc
/deploy/*.retry
/deploy/netconf.yml
/web/clui/conf/config.toml
.ssh
/deploy/.ssh
*.status
/bin
/grpc
/cache
/db
/dnsmasq
/lib64
/log
/run
/users
/volume
/xml
/etc
/conf
build
cloudland.sum
cloudland.tgz
ipcalc
cloudrc.local
/sci/Makefile
/sci/*.log
/sci/config.h
/sci/libtool
/sci/scia/scia64
/sci/stamp-h1
/sci/usecase
/sci/autom4te.cache
/src/remotexec/remotexec*.pb.*
.vscode
/scripts/backend
