---
# Chunksize is calculated as follows for GlusterFS' optimal performance.
# RAID6:
#    full_stripe_size = stripe_unit_size * no_of_data_disks
#
# Where full_stripe_size should be between 1 MiB and 2 MiB. And chunksize is set
# to full_stripe_size
#
- name: Calculate chunksize for RAID6/RAID10
  set_fact:
     lv_chunksize: >
        {{ gluster_infra_stripe_unit_size|int *
           gluster_infra_diskcount|int }}K
  when: >
     gluster_infra_disktype == 'RAID6' or
     gluster_infra_disktype == 'RAID10'

# For JBOD the thin pool chunk size is set to 256 KiB.
- name: Set chunksize for JBOD
  set_fact:
     lv_chunksize: '256K'
  when: gluster_infra_disktype == 'JBOD'

- name: Create a LV thinpool
  lvol:
     state: present
     shrink: false
     vg: "{{ item.vgname }}"
     thinpool: "{{ item.thinpoolname }}"
     size: "{{ item.thinpoolsize | default('100%FREE') }}"
     opts: " --chunksize {{ lv_chunksize }}
             --poolmetadatasize {{ item.poolmetadatasize }}
             --zero n"
  with_items: "{{ gluster_infra_thinpools }}"
  when: gluster_infra_thinpools is defined
