[Unit]
Description=Cloudlet service
After=network.target

[Service]
Type=simple
User=cland
EnvironmentFile=/etc/sysconfig/cloudlet
ExecStart=/opt/cloudland/bin/cloudlet
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
