[Unit]
Description=libvirt console proxy service
After=network.target

[Service]
Type=simple
ExecStart=/opt/libvirt-console-proxy/build/virtconsoleproxyd --resolver-mode external --resolver-uri https://127.0.0.1:5443/consoleresolver --resolver-tls-cert /etc/ssl/certs/cland-selfsigned.crt --resolver-tls-key /etc/ssl/private/cland-selfsigned.key --resolver-tls-ca /etc/ssl/certs/cland-selfsigned.crt --listen-tls-ca /opt/libvirt-console-proxy/cert/cacert.pem --listen-tls-cert /opt/libvirt-console-proxy/cert/servercert.pem --listen-tls-key /opt/libvirt-console-proxy/cert/serverkey.pem --listen-addr 127.0.0.1:9443 --connect-insecure
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
