[Unit]
Description=Cloudlet on %i
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=SCI_JOB_KEY=%i
EnvironmentFile=-/etc/default/cloudlet
ExecStart=/opt/cloudland/bin/cloudlet
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
