[Unit]
Description=CloudLand Job on %i
After=network.target

[Service]
Type=simple
User=ubuntu
EnvironmentFile=/etc/default/cloudland-%i
ExecStart=/bin/sh -c /opt/cloudland/%i/bin/cloudland
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
