<div class="actions">
	<div class="ui red basic inverted cancel button">
		<i class="remove icon"></i>
        No
	</div>
	<div class="ui green basic inverted ok button">
		<i class="checkmark icon"></i>
        Yes
	</div>
</div>
