<!DOCTYPE html>
<html>
    <head data-suburl="">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    {{if not .PageIsAdmin}}
		<meta name="author" content="{{if .Repository}}{{.Owner.Name}}{{else}}cloudland{{end}}" />
		<meta name="keywords" content="go, cloud, self-hosted, cloudland">
	    {{end}}
	    <meta name="referrer" content="no-referrer" />
	    <meta name="_csrf" content="{{.CSRFToken}}" />
	    <meta name="_suburl" content="" />
	    <!-- Open Graph Tags -->
	    {{if .PageIsAdmin}}
	    {{else if .PageIsUserProfile}}
		<meta property="og:url" content="{{.Owner.HTMLURL}}" />
		<meta property="og:type" content="profile" />
		<meta property="og:title" content="{{.Owner.Name}}{{if .Owner.FullName}} ({{.Owner.FullName}}){{end}}">
		<meta property="og:description" content="{{.Owner.Name}} has {{.Owner.NumFollowers}} followers and is following {{.Owner.NumFollowing}} people.">
		<meta property="og:image" content="{{.Owner.AvatarLink}}" />
	    {{else if .Repository}}
		<meta property="og:url" content="{{.Repository.HTMLURL}}" />
		<meta property="og:type" content="object" />
		<meta property="og:title" content="{{.Repository.FullName}}">
		<meta property="og:description" content="{{.Repository.Description}}">
		<meta property="og:image" content="{{.Repository.Owner.AvatarLink}}" />
	    {{else}}
		<meta property="og:type" content="website" />
		<meta property="og:title" content="cloudland">
		<meta property="og:description" content="Cloudland is a painless self-hosted cloud service.">
		<meta property="og:image" content="img/cland.png" />
		<meta property="og:site_name" content="cloudland">
	    {{end}}

	    <link rel="shortcut icon" href="/img/CloudLand-main.png" />

	    <script src="/js/jquery-1.11.3.min.js"></script>
	    <script src="/js/echarts.min.js"></script>
	    <script src="/js/popup.js"></script>
	    <script src="/js/libs/jquery.are-you-sure.js"></script>
	    <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css">
	    <link rel="stylesheet" href="/assets/octicons-4.3.0/octicons.min.css">

	    <!-- notebook.js for rendering ipython notebooks and marked.js for rendering markdown in notebooks -->
	    {{if .IsIPythonNotebook}}
		<script src="/plugins/notebookjs-0.3.0/notebook.min.js"></script>
		<script src="/plugins/marked-0.3.6/marked.min.js"></script>
	    {{end}}

	    {{if .RequireSimpleMDE}}
		<link rel="stylesheet" href="plugins/simplemde-1.10.1/simplemde.min.css">
		<script src="/plugins/simplemde-1.10.1/simplemde.min.js"></script>
		<script src="/plugins/codemirror-5.17.0/addon/mode/loadmode.js"></script>
		<script src="/plugins/codemirror-5.17.0/mode/meta.js"></script>
		<script>
		 CodeMirror.modeURL =  "/plugins/codemirror-5.17.0/mode/%N/%N.js";
		</script>
	    {{end}}

	    <!-- Stylesheet -->
	    <link rel="stylesheet" href="/css/semantic-2.3.1.min.css">
	    <link rel="stylesheet" href="/css/cloudland.css">
	    <noscript>
		    <style>
			 .dropdown:hover > .menu { display: block; }
			 .ui.secondary.menu .dropdown.item > .menu { margin-top: 0; }
		    </style>
	    </noscript>

	    <style type="text/css">
        #backgroundPopup{
            display:none;
            position:fixed;
            position:absolute;
            height:100%;
            width:100%;
            top:0;
            left:0;
            background:#000000;
            border:1px solid #cecece;
            z-index:1;
        }

        #popupContact{
            display:none;
            position:fixed;
            position:absolute;
            height:384px;
            width:408px;
            background:#FFFFFF;
            border:2px solid #cecece;
            z-index:2;
            padding:12px;
            font-size:13px;
        }

        #popupContact h1{
            text-align:left;
            color:#6FA5FD;
            font-size:22px;
            font-weight:700;
            border-bottom:1px dotted #D3D3D3;
            padding-bottom:2px;
            margin-bottom:20px;
        }
        #popupContactClose{
            font-size:14px;
            line-height:14px;
            right:6px;
            top:4px;
            position:absolute;
            color:#6fa5fd;
            font-weight:700;
            display:block;
        }
        </style>

	    <!-- JavaScript -->
	    <script src="/js/semantic-2.3.1.min.js"></script>
        <script src="/js/cloudland.js"></script>
	    <title>{{if .Title}}{{.Title}} - {{end}}cloudland</title>
	    <meta name="theme-color" content="#ff5343">
    </head>
    <body>
	    <div class="full height">
		    <noscript>This website works better with JavaScript</noscript>

		    {{if not .PageIsInstall}}
		    <div class="following bar light">
			    <div class="ui container">
				    <div class="ui grid">
					    <div class="column">
						    <div class="ui top secondary menu">
							    <a class="item brand" href="/dashboard">
								    <img class="ui image" src="/img/cland.png">
							    </a>
							    
							    <div class="right menu">
									<a class="item text blue" target="_blank" rel="noopener noreferrer" href="https://github.com/IBM/cloudland/wiki" rel="noreferrer">{{.i18n.Tr "Docs"}}</a>
                                    {{if .IsSignedIn}}
								    <div class="item{{if eq .Link "/login"}} active{{end}}">
									    <i class="octicon octicon-sign-out"></i>
                                                                            <div class="ui dropdown">
                                                                                <div class="text blue">{{ .Organization }}</div>
                                                                                <i class="dropdown icon"></i>
                                                                                <div class="menu">
                                						{{ $Link := .Link }}
                                                                                {{ range .Members }}
                                                                                    <div class="item"><a href="/users/{{.UserID}}/chorg?org={{.OrgName}}"> {{ .OrgName }}</a></div>
                                    				                {{ end }}
                                                                                    <div class="divider"></div>
                                                                                    <div class="item"><a href="/?logout=true&redirect_to={{.Link}}">{{.i18n.Tr "Signout"}}</a></div>
                                                                                </div>
                                                                            </div>
								    </div>
                                    {{else}}
								    <div class="item{{if eq .Link "/login"}} active{{end}}">
									    <i class="octicon octicon-sign-in"></i>
                                                                            <div class="text"><a href="/login?redirect_to={{.Link}}">{{.i18n.Tr "Signin"}}</a></div>
								    </div>
                                    {{end}}
							    </div><!-- end anonymous right menu -->
							</div><!-- end top menu -->
						</div><!-- end column -->
					</div><!-- end grid -->
				</div><!-- end container -->
			</div><!-- end bar -->
		{{end}}
{{/*
	</div>
</body>
</html>
*/}}
