<div class="four wide column">
    <div class="ui vertical menu">
        <div class="header item">Control Panel</div>
        <a {{ if eq .Link "/dashboard" }} class="active item" {{ else }} class="item" {{ end }} href="/dashboard">
            Dashboard
        </a>
        <a {{ if eq .Link "/users" }} class="active item" {{ else }} class="item" {{ end }} href="/users">
            Users
        </a>
        <a {{ if eq .Link "/orgs" }} class="active item" {{ else }} class="item" {{ end }} href="/orgs">
            Organizations
        </a>
        <a {{ if eq .Link "/openshifts" }} class="active item" {{ else }} class="item" {{ end }} href="/openshifts">
            Openshift Clusters
        </a>
        <a {{ if eq .Link "/instances" }} class="active item" {{ else }} class="item" {{ end }} href="/instances">
            Instances
        </a>
        <a {{ if eq .Link "/flavors" }} class="active item" {{ else }} class="item" {{ end }} href="/flavors">
            Flavors
        </a>
        <a {{ if eq .Link "/images" }} class="active item" {{ else }} class="item" {{ end }} href="/images">
            Images
        </a>
        <a {{ if eq .Link "/volumes" }} class="active item" {{ else }} class="item" {{ end }} href="/volumes">
            Volumes
        </a>
        <a {{ if eq .Link "/keys" }} class="active item" {{ else }} class="item" {{ end }} href="/keys">
            Keys
        </a>
        <a {{ if eq .Link "/subnets" }} class="active item" {{ else }} class="item" {{ end }} href="/subnets">
            Subnets
        </a>
        <a {{ if eq .Link "/floatingips" }} class="active item" {{ else }} class="item" {{ end }} href="/floatingips">
            FloatingIps
        </a>
        <a {{ if eq .Link "/gateways" }} class="active item" {{ else }} class="item" {{ end }} href="/gateways">
            Gateways
        </a>
        <a {{ if eq .Link "/secgroups" }} class="active item" {{ else }} class="item" {{ end }} href="/secgroups">
            SecurityGroups
        </a>
    </div>
</div>
