<div class="four wide column">
    <div class="ui vertical menu">
        <div class="header item">Control Panel</div>
        <a class="active item" href="/dashboard">
            Dashboard
        </a>
        <a class=" item" href="/users">
            Users
        </a>
        <a class=" item" href="/orgs">
            Organizations
        </a>
        <a class=" item" href="/instances">
            Instances
        </a>
        <a class=" item" href="/flavors">
            Flavors
        </a>
        <a class=" item" href="/images">
            Images
        </a>
        <a class=" item" href="/volumes">
            Volumes
        </a>
        <a class=" item" href="/keys">
            Keys
        </a>
        <a class=" item" href="/subnets">
            Subnets
        </a>
        <a class=" item" href="/portmaps">
            Portmaps
        </a>
        <a class=" item" href="/floatingips">
            FloatingIps
        </a>
        <a class=" item" href="/gateways">
            Gateways
        </a>
        <a class=" item" href="/secgroups">
            SecurityGroups
        </a>
    </div>
</div>
