{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
    <div id="dashboard" class="twelve wide column content"></div>
    <script type="text/javascript" src="js/dashboard.js"></script>
            </div>
        </div>
    </div>
{{template "_footer" .}}
