{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
                   <div class="ui stackable middle very relaxed page grid">
		             <div class="sixteen wide center aligned centered column">
			           <div class="logo">
				          <img src="/img/cloudland.png" />
			           </div>
 			           <div class="hero">
        	 			  <h4>A Painless Cloud Service</h4>
				          <h4>Simplicity Is the Best of All</h4>
				          <h4>No Tons of Components</h4>
				          <h4>Flat Learning Curve</h4>
				          <h4>Excellent Performance</h4>
				          <h4>Scalability and Stability Matter</h4>
				          <h4>Freedom to Customize</h4>
			           </div>
		             </div>
	               </div>
                </div>
            </div>
        </div>
    </div>
{{template "_footer" .}}
