{{template "_head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="/img/cloudland.png" />
			</div>
			<div class="hero">
				<h2>a painless cloud service</h2>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}
