{{template "_head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="/img/cloudland.png" />
			</div>
			<div class="hero">
				<h2>A Painless Cloud Service</h2>
				<h2>Simplicity Is the Best of All</h2>
				<h2>No Tons of Components</h2>
				<h2>Flat Learning Curve</h2>
				<h2>Excellent Performance</h2>
				<h2>Scalability and Stability Matter</h2>
				<h2>Freedom to Customize</h2>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}
