{{template "_head" .}}
<script type="text/javascript">
    function getCookie(c_name, c_data)
    {
        c_start=document.cookie.indexOf(c_name + "=")
        var language;
        if (c_start!=-1)
        {
            c_start=c_start + c_name.length+1
            c_end=document.cookie.indexOf(";",c_start)
            if (c_end==-1) c_end=document.cookie.length
            language = unescape(document.cookie.substring(c_start,c_end))
        }

        if (language.substring(0, 2) == 'zh'){
            var ans = c_data;
            switch (c_data){
                case "running":
                    ans = "运行";
                    break;
                case "shut_off":
                    ans = "停止";
                    break;
                case "migrating":
                    ans = "迁移中";
                    break;
                case "paused":
                    ans = "暂停";
                    break;
                case "pending":
                    ans = "待创建";
                    break;
            }
            return ans;
        }
        else{
            return c_data;
        }
    }
	
	function UpdateTable(){
		$.ajax({
			type: "GET",
			url: "/UpdateTable",
			success: function (data){
				var html = "";
				for(var i = 0; i < data.instancedata.length; i++){
					html += "<tr>" +
					"<td>";
					html += '<a href="/instances/' + data.instancedata[i].ID + '">' + data.instancedata[i].ID + "</a>";
					html += "</td>" +
					"<td>";
					if (data.instancedata[i].Cluster !== null){
						html += data.instancedata[i].Cluster.ClusterName;
					}
					html += '<a href="/instances/' + data.instancedata[i].ID + '">' + data.instancedata[i].Hostname + "</a></td>" + 
					"<td>";
					if (data.instancedata[i].Flavor !== null){
						html += data.instancedata[i].Flavor.Name;
					}
					html += "</td>" + 
					"<td>";
					if (data.instancedata[i].Image !== null){
						html += data.instancedata[i].Image.Name;
					}else{
						html += data.instancedata[i].Hostname;
					}
					html += "</td>" + 
					"<td>";
					if (data.instancedata[i].FloatingIps.length !== 0){
						for (var t = 0; t < data.instancedata[i].FloatingIps.length; t++){
							html += data.instancedata[i].FloatingIps[t].FipAddress + "<br>";
						}
					}
					if (data.instancedata[i].Interfaces.length != 0){
						for (var t = 0; t < data.instancedata[i].Interfaces.length; t++){
							if (data.instancedata[i].Interfaces[t].Address.Address !== null){
								html += '<a href="/instances/../interfaces/' + data.instancedata[i].Interfaces[t].ID + '">' + data.instancedata[i].Interfaces[t].Address.Address + "</a><br>";
							}
						}
					}
					html += "</td>" + 
					"<td>";
					html += getCookie("lang", data.instancedata[i].Status);
					if (data.instancedata[i].Status == 'error'){
						html += data.instancedata[i].Reason;
					}
					html += "</td>" +
                    "<td>";
                    html += '<form name="submitForm' + data.instancedata[i].ID + '" method="post" target="_blank" action="/instances/' + data.instancedata[i].ID + '/console">' +
                             	'<a href="javascript:document.submitForm' + data.instancedata[i].ID + '.submit()">VNC</a>' +
                            '</form>';
					html += "</td>" + 
					"<td>";
					html += data.instancedata[i].Hyper;
					html += "</td>" + 
					"<td>";
					html += data.instancedata[i].OwnerInfo.name;
					html += "</td>" + 
					"<td>";
					html += '<div class="ui selection dropdown">' +
							'<input id="action" name="action" type="hidden">' +
								'<i class="dropdown icon"></i>' +
								'<div class="default text">Action</div>' + 
									'<div class="menu">' +
										'<div class="item" data-value="1" data-text="ChangeHostname">' +
										'<a href="/instances/' + data.instancedata[i].ID + '?flag=ChangeHostname">{{$.i18n.Tr "ChangeHostname"}}</a>' +
										'</div>' + 
										'<div class="item" data-value="2" data-text="MigrateInstance">' +
										'<a href="/instances/' + data.instancedata[i].ID + '?flag=MigrateInstance">{{$.i18n.Tr "MigrateInstance"}}</a>' +
										'</div>' + 
										'<div class="item" data-value="3" data-text="ResizeInstance">' +
										'<a href="/instances/' + data.instancedata[i].ID + '?flag=ResizeInstance">{{$.i18n.Tr "ResizeInstance"}}</a>' +
										'</div>' + 
										'<div class="item" data-value="4" data-text="ChangeStatus">' +
										'<a href="/instances/' + data.instancedata[i].ID + '?flag=ChangeStatus">{{$.i18n.Tr "ChangeStatus"}}</a>' +
										'</div>' +
										'<div class="item" data-value="5" data-text="DeleteInstance">'+
                                        '<a class="delete-button" data-url="/instances/' + data.instancedata[i].ID +  '" data-id="' + data.instancedata[i].ID + '" href="javascript:void(0)">{{$.i18n.Tr "DeleteInstance"}}</a>' +
                                        '</div>' +
									'</div>' +
							'</div>';
					html += "</td>" +
                    "</tr>";
					$("#instances_tbody").html(html);
					$('.ui.selection.dropdown').dropdown();
					$('.delete-button').click(function () {
                            var $this = $(this);
                            $('.delete.modal').modal({
                                closable: false,
                                onApprove: function () {
                                    if ($this.data('type') == "form") {
                                        $($this.data('form')).submit();
                                        return;
                                    }
                                    $.ajax({
                                        url: $this.data('url'),
                                        type: 'DELETE',
                                        success: function (data) {
                                            window.location.href = data.redirect;
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            window.location.href = "/error?ErrorMsg=" + jqXHR.responseText;
                                        }
                                    });
                                }
                            }).modal('show');
                            return false;
                        });
				}
				
			},
		})
	}
	setInterval("UpdateTable()", 8000);
		
	
</script>

    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            {{.i18n.Tr "Instance_Manage_Panel"}} ({{.i18n.Tr "Total"}}: {{.Total}})
			            <div class="ui right">
				            <a id="toCreate" class="ui green tiny button" href="instances/new">{{.i18n.Tr "Create"}}</a>
							<div style="display:none">
								<input id="hideHost" name="hideHost" value="{{.HostName}}">
							</div>
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">{{.i18n.Tr "Search"}}</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
									{{ if $.IsAdmin }}
			                        <th>{{.i18n.Tr "ID"}}</th>
									{{ end }}
			                        <th>{{.i18n.Tr "Hostname"}}</th>
			                        <th>{{.i18n.Tr "Flavor"}}</th>
			                        <th>{{.i18n.Tr "Image"}}</th>
			                        <th>{{.i18n.Tr "IP_Address"}}</th>
			                        <th>{{.i18n.Tr "Status"}}</th>
			                        <th>{{.i18n.Tr "Console"}}</th>
									{{ if .IsAdmin }}
			                        <th>{{.i18n.Tr "Hyper"}}</th>
			                        <th>{{.i18n.Tr "Owner"}}</th>
									{{ end }}
                                    <th>{{.i18n.Tr "Action"}}</th>
		                        </tr>
	                        </thead>
	                        <tbody id="instances_tbody">
                                {{ $Link := .Link }}
                                {{ range .Instances }}
                                {{ $InstanceID := .ID }}
		                        <tr>
									{{ if $.IsAdmin }}
			                        <td><a href="{{$Link}}/{{.ID}}">{{.ID}}</a></td>
									{{ end }}
			                        <td>{{ if .Cluster }}{{.Cluster.ClusterName}}:<br>{{end}}<a href="{{$Link}}/{{.ID}}">{{.Hostname}}</a></td>
			                        <td>{{ if .Flavor }}{{ .Flavor.Name}}{{ end }}</td>
			                        <td>{{ if .Image }}{{.Image.Name}}{{else}}{{.Hostname}}{{end}}</td>
			                        <td>
						{{ if .FloatingIps }}
							{{ range .FloatingIps }}
								{{.FipAddress }}<br>
							{{ end }}
						{{ end }}
						{{ if .Interfaces }}
							{{ range .Interfaces }}
								{{ if .Address}}
								<a href="{{$Link}}/../interfaces/{{.ID}}">{{ .Address.Address }}</a><br>
								{{ end }}
							{{ end }}
					        {{ end }}
						</td>
			                        <td>{{$.i18n.Tr .Status}}{{ if eq .Status "error" }}: {{ .Reason }}{{ end }}</td>
                        <td>
							<form name="submitForm{{.ID}}" method="post" target="_blank" action="{{$Link}}/{{.ID}}/console">
							<a href="javascript:document.submitForm{{.ID}}.submit()">VNC</a>
							</form>
						</td>
						{{ if $.IsAdmin }}
			                        <td>{{.Hyper}}</td>
			                        <td>{{.OwnerInfo.Name}}</td>
						{{ end }}
                                    <td><div class="ui selection dropdown">
											<input id="action" name="action" type="hidden">
												<i class="dropdown icon"></i>
													<div class="default text">Action
													</div>
														<div class="menu">
															<div class="item" data-value="1" data-text="ChangeHostname">
																<a href="{{$Link}}/{{.ID}}?flag=ChangeHostname">{{$.i18n.Tr "ChangeHostname"}}</a>
															</div>
															<div class="item" data-value="2" data-text="MigrateInstance">
																<a href="{{$Link}}/{{.ID}}?flag=MigrateInstance">{{$.i18n.Tr "MigrateInstance"}}</a>
															</div>
															<div class="item" data-value="3" data-text="ResizeInstance">
																<a href="{{$Link}}/{{.ID}}?flag=ResizeInstance">{{$.i18n.Tr "ResizeInstance"}}</a>
															</div>
															<div class="item" data-value="4" data-text="ChangeStatus">
																<a href="{{$Link}}/{{.ID}}?flag=ChangeStatus">{{$.i18n.Tr "ChangeStatus"}}</a>
															</div>
															<div class="item" data-value="5" data-text="DeleteInstance">
                                                            	<a class="delete-button" data-url="{{$Link}}/{{.ID}}" data-id="{{.ID}}" href="javascript:void(0)">{{$.i18n.Tr "DeleteInstance"}}</a>
                                                            </div>
														</div>
										</div>
									</td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            <div class="ui attached segment">
                                 {{ if .Pages}}
                                 <div class="ui pagination menu">
                                     {{ range  $index, $element := .Pages }}
                                         <a class="active item">
                                             <a href="{{$Link}}?offset={{$element.Offset}}">{{ $element.Number }}</a>
                                         </a>
                                     {{ end }}
                                 </div>
                                 {{ end }}
	                    </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="ui small basic delete modal">
	    <div class="ui icon header">
		    <i class="trash icon"></i>
            {{.i18n.Tr "Instance Deletion"}}
	    </div>
	    <div class="content">
		    <p>{{.i18n.Tr "Instance_Deletion_Confirm"}}</p>
	    </div>
	    {{template "_delete_modal_actions" .}}
    </div>
{{template "_footer" .}}
