{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Openshift Cluster"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="clustername">{{.i18n.Tr "Cluster_Name"}}</label>
                        <input id="clustername" name="clustername" value="{{ .Openshift.ClusterName }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="basedomain">{{.i18n.Tr "Base_Domain"}}</label>
                        <input id="basedomain" name="basedomain" value="{{ .Openshift.BaseDomain }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="createdat">{{.i18n.Tr "Created_At"}}</label>
                        <input id="createdat" name="createdat" value="{{ .Openshift.CreatedAt }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="updatedat">{{.i18n.Tr "Updated_At"}}</label>
                        <input id="updatedat" name="updatedat" value="{{ .Openshift.UpdatedAt }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="haflag">{{.i18n.Tr "High Available"}}</label>
                        <input id="haflag" name="haflag" value="{{ .i18n.Tr .Openshift.Haflag }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="flavor">{{.i18n.Tr "Worker Flavor"}}</label>
                        <select name="flavor" id="flavor" class="ui selection dropdown">
			            {{ range .Flavors }}
                              <option value="{{ .ID }}" {{ if eq $.Openshift.Flavor .ID }}selected{{end}}>{{ .ID }}-{{ .Name }}</option>
                           {{ end }}
                        </select>
		            </div>
                    <div class="required inline field">
                        <label for="nworkers">{{.i18n.Tr "Number of Workers"}}</label>
                        <input id="nworkers"  name="nworkers" value="{{ .Openshift.WorkerNum }}" required>
                    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Openshift Cluster"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

