{{template "_head" .}}
<script type="text/javascript">

    $("#storbackend").dropdown({
        onChange:function(a,b){
            if( b == "FCP"){
                $( ".lbconfig, .bootconfig, .masterconfig, .workerconfig" ).hide();
            }else{
                $( ".lbconfig, .bootconfig, .masterconfig, .workerconfig" ).show();
            }
        }
    });

</script>

<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Openshift Cluster"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="clustername">{{.i18n.Tr "Cluster_Name"}}</label>
									<input id="clustername" name="clustername" autofocus required>
								</div>
								<div class="required inline field">
									<label for="basedomain">{{.i18n.Tr "Base_Domain"}}</label>
									<input id="basedomain"  name="basedomain" required>
								</div>
							{{ if .IsAdmin }}
								<div class="inline field">
									<label for="extip">{{.i18n.Tr "LoadBalancer_IP"}}</label>
									<input id="extip"  name="extip">
								</div>
							{{ end }}
								<div class="inline field">
									<label for="haflag">{{.i18n.Tr "High Available"}}</label>
									<div class="ui selection dropdown">
									  <input id="haflag" name="haflag" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "no"}}</div>
									  <div class="menu">
										<div class="item" data-value="no" data-text={{.i18n.Tr "no"}}>
										  {{.i18n.Tr "no"}}
										</div>
										<div class="item" data-value="yes" data-text={{.i18n.Tr "yes"}}>
										  {{.i18n.Tr "yes"}}
										</div>
									  </div>
									</div>
								</div>
								<div class="required inline field">
									<label for="nworkers">{{.i18n.Tr "Number of Workers"}}</label>
									<input id="nworker"  name="nworkers" value="2" required>
								</div>
								<div class="required inline field">
									<label for="version">{{.i18n.Tr "Version"}}</label>
									<div class="ui selection dropdown">
									  <input id="version" name="version" type="hidden" required>
									  <i class="dropdown icon"></i>
									  <div class="default text">Version</div>
									  <div class="menu">
										<div class="item" data-value=4.5 data-text=4.5>
										  4.5
										</div>
										<div class="item" data-value=4.4 data-text=4.4>
										  4.4
										</div>
										<div class="item" data-value=4.3 data-text=4.3>
										  4.3
										</div>
									  </div>
									</div>
								</div>
								<div class="required inline field">
									<label for="version">{{.i18n.Tr "InfrastructureType"}}</label>
									<div class="ui selection dropdown">
									  <input id="infrtype" name="infrtype" type="hidden" required>
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "InfrastructureType"}}</div>
									  <div class="menu">
										<div class="item" data-value=zVM data-text=zVM>
										  zVM
										</div>
										<div class="item" data-value=zKVM data-text=zKVM>
										  zKVM
										</div>
										<div class="item" data-value=x86KVM data-text=x86KVM>
										  x86KVM
										</div>
									  </div>
									</div>
								</div>
								<div class="required inline field" id="storbackend">
									<label for="version">{{.i18n.Tr "StorageBackend"}}</label>
									<div class="ui selection dropdown">
									  <input id="sback" name="sback" type="hidden" required>
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "StorageBackend"}}</div>
									  <div class="menu">
										<div class="item" data-value=DASD data-text=DASD>
										  DASD
										</div>
										<div class="item" data-value=FCP data-text=FCP>
										  FCP
										</div>									
									  </div>
									</div>
								</div>
								<div class="hidden inline field lbconfig" >
									<label>{{.i18n.Tr "LB_Config"}}</label>
									<textarea id="lbconfig" name="lbconfig" autocomplete="off" required></textarea>
								</div>
								<div class="hidden inline field bootconfig">
									<label>{{.i18n.Tr "Boot_Config"}}</label>
									<textarea id="bootConfig" name="bootConfig" autocomplete="off" required></textarea>
								</div>
								<div class="inline field masterconfig">
									<label>{{.i18n.Tr "Master_Config"}}</label>
									<textarea id="masterconfig" name="masterconfig" autocomplete="off" required></textarea>
								</div>
								<div class="hidden inline field workerconfig">
									<label>{{.i18n.Tr "Worker_Config"}}</label>
									<textarea id="workerconfig" name="workerconfig" autocomplete="off" required></textarea>
								</div>																																												
								<div class="required inline field">
									<label for="lflavor">{{.i18n.Tr "LB_Flavor"}}</label>
									<div class="ui selection dropdown">
									  <input id="lflavor" name="lflavor" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "Flavor"}}</div>
									  <div class="menu">
										{{ range .Flavors }}
										<div class="item" data-value={{.ID}} data-text={{.Name}}>
										  {{.Name}}
										</div>
										{{ end }}
									  </div>
									</div>
								</div>
								<div class="required inline field">
									<label for="mflavor">{{.i18n.Tr "Master_Flavor"}}</label>
									<div class="ui selection dropdown">
									  <input id="mflavor" name="mflavor" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "Master_Flavor"}}</div>
									  <div class="menu">
										{{ range .Flavors }}
										<div class="item" data-value={{.ID}} data-text={{.Name}}>
										  {{.Name}}
										</div>
										{{ end }}
									  </div>
									</div>
								</div>
								<div class="required inline field">
									<label for="wflavor">{{.i18n.Tr "Worker_Flavor"}}</label>
									<div class="ui selection dropdown">
									  <input id="wflavor" name="wflavor" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "Master_Flavor"}}</div>
									  <div class="menu">
										{{ range .Flavors }}
										<div class="item" data-value={{.ID}} data-text={{.Name}}>
										  {{.Name}}
										</div>
										{{ end }}
									  </div>
									</div>
								</div>
								<div class="inline field">
								    <label for="primary">{{.i18n.Tr "Subnet"}}</label>
								    <div class="ui selection dropdown">
                                      <input id="primary" name="primary" type="hidden">
                                      <i class="dropdown icon"></i>
                                      <div class="default text">{{.i18n.Tr "Subnet"}}</div>
                                      <div class="menu">
                                        {{ range .Subnets }}
                                            <div class="item" data-value={{.ID}} data-text={{.Name}}--{{.Network}}/{{.Netmask}}>
                                              {{.Name}}
                                            </div>
                                        {{ end }}
                                        </div>
                                      </div>
								</div>

								<div class="required inline field">
									<label for="key">{{.i18n.Tr "Key"}}</label>
									<div class="ui selection dropdown">
									  <input id="key" name="key" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "Key"}}</div>
									  <div class="menu">
										{{ range .Keys }}
										<div class="item" data-value={{.ID}} data-text={{.Name}}>
										  {{.Name}}
										</div>
										{{ end }}
									  </div>
									</div>
								</div>
								<div class="required inline field">
									<label>{{.i18n.Tr "Pull Secret"}}</label>
									<textarea id="secret" name="secret" autocomplete="off" required></textarea>
								</div>
								<div class="inline field">
									<label>{{.i18n.Tr "additionalTrustBundle"}}</label>
									<textarea id="atbundle" name="atbundle" autocomplete="off" required></textarea>
								</div>
								<div class="inline field">
									<label>{{.i18n.Tr "imageContentSources"}}</label>
									<textarea id="icsources" name="icsources" autocomplete="off" required></textarea>
								</div>																
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New Openshift Cluster"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}

