{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            Portmap Manage Panel (Total: {{.Total}})
			            <div class="ui right">
				            <a class="ui green tiny button" href="portmaps/new">Create</a>
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">Search</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
									{{ if $.IsAdmin }}
			                        <th>ID</th>
									{{ end }}
			                        <th>Instance</th>
			                        <th>Local IP:Port</th>
			                        <th>Remote IP:Port</th>
			                        <th>Status</th>
						{{ if $.IsAdmin }}
			                        <th>Owner</th>
						{{ end }}
			                        <th>Edit</th>
                                    <th>Delete</th>
		                        </tr>
	                        </thead>
	                        <tbody>
                                {{ $Link := .Link }}
                                {{ range .Portmaps }}
		                        <tr>
									{{ if $.IsAdmin }}
			                        <td>{{.ID}}</td>
									{{ end }}
			                        <td>{{.Name}}</td>
			                        <td>{{.LocalAddress}}:{{.LocalPort}}</td>
			                        <td>{{.RemoteAddress}}:{{.RemotePort}}</td>
			                        <td>{{.Status}}</td>
						{{ if $.IsAdmin }}
			                        <td>{{.OwnerInfo.Name}}</td>
						{{ end }}
			                        <td><a href="{{$Link}}/{{.ID}}"><i class="fa fa-pencil-square-o"></i></a></td>
                                    <td><div class="delete-button" data-url="{{$Link}}/{{.ID}}" data-id="{{.ID}}"><i class="dark purple trash alternate outline icon"></i></div></td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            <div class="ui attached segment">
                                 {{ if .Pages}}
                                 <div class="ui pagination menu">
                                     {{ range  $index, $element := .Pages }}
                                         <a class="active item">
                                             <a href="{{$Link}}?offset={{$element.Offset}}">{{ $element.Number }}</a>
                                         </a>
                                     {{ end }}
                                 </div>
                                 {{ end }}
	                    </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="ui small basic delete modal">
	    <div class="ui icon header">
		    <i class="trash icon"></i>
            Portmap Deletion
	    </div>
	    <div class="content">
		    <p>This portmap is going to be deleted permanently, do you want to continue?</p>
	    </div>
	    {{template "_delete_modal_actions" .}}
    </div>
{{template "_footer" .}}
