{{template "_head" .}}
<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Registry"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="label">{{.i18n.Tr "Label"}}</label>
									<input id="label" name="label" autofocus required>
								</div>
                                <div class="required inline field">
                                    <label for="virtType">{{.i18n.Tr "Virtualization Type"}}</label>
                                    <select name="virtType" id="virtType" class="ui selection dropdown">
                                         <option value="kvm-x86_64" selected>{{.i18n.Tr "KVM on x86_64"}}</option>
                                         <option value="kvm-s390x" selected>{{.i18n.Tr "KVM on Z"}}</option>
                                         <option value="zvm">{{.i18n.Tr "z/VM"}}</option>
                                    </select>
                                </div>								
								<div class="required inline field">
									<label for="ocpversion">{{.i18n.Tr "OcpVersion"}}</label>
                                        <div class="ui selection dropdown">
                                                                        	<input id="ocpversion" name="ocpversion" type="hidden" required>
                                                                                <i class="dropdown icon"></i>
                                                                               	<div class="default text">Version</div>
                                                                               	<div class="menu">
											<div class="item" data-value=4.7 data-text=4.7>
                                                                                            4.7
                                                                                        </div>
                                                                                        <div class="item" data-value=4.6 data-text=4.6>
                                                                                            4.6
                                                                                        </div>
                                                                                	<div class="item" data-value=4.5 data-text=4.5>
                                                                                       	    4.5
                                                                                   	</div>
                                                                                   	<div class="item" data-value=4.4 data-text=4.4>
                                                                                            4.4
                                                                                   	</div>
                                                                                   	<div class="item" data-value=4.3 data-text=4.3>
                                                                                            4.3
                                                                                   	</div>
                                                                               </div>
 									</div>
								</div>
								<div class="required inline field">
									<label for="registrycontent">{{.i18n.Tr "RegistryContent"}}</label>
                                    <textarea id="registrycontent"  name="registrycontent" autocomplete="off" required></textarea>
								</div>
								<div class="required inline field">
									<label for="initramfs">{{.i18n.Tr "RHCOS initramfs"}}</label>
									<input id="initramfs" name="initramfs" autofocus required>
								</div>
								<div class="required inline field">
									<label for="kernel">{{.i18n.Tr "RHCOS kernel"}}</label>
									<input id="kernel" name="kernel" autofocus required>
								</div>
								<div class="required inline field">
									<label for="image">{{.i18n.Tr "RHCOS image"}}</label>
									<input id="image" name="image" autofocus required>
								</div>
								<div class="required inline field">
									<label for="installer">{{.i18n.Tr "OCP installer"}}</label>
									<input id="installer" name="installer" autofocus required>
								</div>
								<div class="required inline field">
									<label for="cli">{{.i18n.Tr "oc cli"}}</label>
									<input id="cli" name="cli" autofocus required>
								</div>
								{{ if .IsAdmin }}
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New Registry"}}</button>
								</div>
								{{ end }}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}

