{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Security Group"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" value="{{ .Secgroup.Name }}" required>
                    </div>
                    <div class="inline field">
                        <label for="isdefault">{{.i18n.Tr "Is Default"}}</label>
                        <select name="isdefault" id="isdefault" class="ui selection dropdown">
                              {{ if .Secgroup.IsDefault }}
                              <option value="yes" selected>{{.i18n.Tr "yes"}}</option>
                              {{ else }}
                              <option value="yes">{{.i18n.Tr "yes"}}</option>
                              <option value="no" selected>{{.i18n.Tr "no"}}</option>
                              {{ end }}
                        </select>
		    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Security Group"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

