{{template "_head" .}}
<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Subnet"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="name">{{.i18n.Tr "Name"}}</label>
									<input id="name" name="name" autofocus required>
								</div>
								<div class="required inline field">
									<label for="network">{{.i18n.Tr "Network"}}</label>
									<input id="network" name="network" required>
								</div>
								<div class="required inline field">
									<label for="netmask">{{.i18n.Tr "Netmask"}}</label>
									<input id="netmask"  name="netmask" required>
								</div>
								<div class="inline field">
									<label for="gateway">{{.i18n.Tr "Gateway"}}</label>
									<input id="gateway"  name="gateway">
								</div>
								<div class="inline field">
									<label for="start">{{.i18n.Tr "Start"}}</label>
									<input id="start"  name="start">
								</div>
								<div class="inline field">
									<label for="end">{{.i18n.Tr "End"}}</label>
									<input id="end"  name="end">
								</div>
								<div class="inline field">
									<label for="dns">{{.i18n.Tr "Name Server"}}</label>
									<input id="dns"  name="dns">
								</div>
								<div class="inline field">
									<label for="domain">{{.i18n.Tr "Base Domain"}}</label>
									<input id="domain"  name="domain">
								</div>
								<div class="inline field">
									<label for="dhcp">{{.i18n.Tr "Dhcp"}}</label>
									<div class="ui selection dropdown">
									  <input id="dhcp" name="dhcp" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "yes"}}</div>
									  <div class="menu">
										<div class="item" data-value="yes" data-text="yes">{{.i18n.Tr "yes"}}</div>
										<div class="item" data-value="no" data-text="no">{{.i18n.Tr "no"}}</div>
									  </div>
									</div>
								</div>
								{{if .IsAdmin }}
								<div class="inline field">
									<label for="vlan">{{.i18n.Tr "Vlan"}} ({{.i18n.Tr "admin only"}})</label>
									<input id="vlan" name="vlan">
								</div>
								<div class="inline field">
									<label for="rtype">{{.i18n.Tr "Routing Type"}} ({{.i18n.Tr "admin only"}})</label>
									<div class="ui selection dropdown">
									  <input id="rtype" name="rtype" type="hidden">
									  <i class="dropdown icon"></i>
									  <div class="default text">{{.i18n.Tr "internal"}}</div>
									  <div class="menu">
										<div class="item" data-value="internal" data-text="internal">{{.i18n.Tr "internal"}}</div>
										<div class="item" data-value="public" data-text="public">{{.i18n.Tr "public"}}</div>
										<div class="item" data-value="private" data-text="private">{{.i18n.Tr "private"}}</div>
									  </div>
									</div>
								</div>
								<div class="inline field">
									<label for="routes">{{.i18n.Tr "Routes"}} ({{.i18n.Tr "admin only"}})</label>
									<input id="routes" name="routes" placeholder="eg. 10.0.0.0/8:10.5.5.5 172.0.0.0/16:172.5.5.5">
								</div>
								{{end}}
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New Subnet"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}

