{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h4 class="ui top attached header">
			            {{.i18n.Tr "Subnet_Manage_Panel"}} ({{.i18n.Tr "Total"}}: {{.Total}})
			            <div class="ui right">
				            <a class="ui green tiny button" href="subnets/new">{{.i18n.Tr "Create"}}</a>
			            </div>
		            </h4>
		            <div class="ui attached segment">
			            <form class="ui form">
	                        <div class="ui fluid tiny action input">
	                            <input name="q" value="{{ .Query }}" placeholder="Search..." autofocus>
	                            <button class="ui blue tiny button">{{.i18n.Tr "Search"}}</button>
	                        </div>
                        </form>
		            </div>
		            <div class="ui unstackable attached table segment">
                        <table class="ui unstackable very basic striped table">
	                        <thead>
		                        <tr>
									{{ if $.IsAdmin }}
			                        <th>{{.i18n.Tr "ID"}}</th>
									{{ end }}
			                        <th>{{.i18n.Tr "Name"}}</th>
			                        <th>{{.i18n.Tr "Network"}}</th>
			                        <th>{{.i18n.Tr "Netmask"}}</th>
						{{ if $.IsAdmin }}
			                        <th>{{.i18n.Tr "Vlan"}}</th>
			                        <th>{{.i18n.Tr "Hyper"}}</th>
			                        <th>{{.i18n.Tr "Owner"}}</th>
						{{ end }}
                                    <th>{{.i18n.Tr "Delete"}}</th>
		                        </tr>
	                        </thead>
	                        <tbody>
                                {{ $Link := .Link }}
                                {{ range .Subnets }}
		                        <tr>
									{{ if $.IsAdmin }}
			                        <td><a href="{{$Link}}/{{.ID}}">{{.ID}}</a></td>
									{{ end }}
			                        <td><a href="{{$Link}}/{{.ID}}">{{.Name}}</a></td>
			                        <td>{{.Network}}</td>
			                        <td>{{.Netmask}}</td>
						{{ if $.IsAdmin }}
			                        <td>{{.Vlan}}</td>
			                        <td>
						{{ if .Netlink }}
						{{ .Netlink.Hyper }},{{ .Netlink.Peer }}
						{{ end }}
                                    		</td>
			                        <td>{{.OwnerInfo.Name}}</td>
						{{ end }}
                                    <td><div class="delete-button" data-url="{{$Link}}/{{.ID}}" data-id="{{.ID}}"><i class="dark purple trash alternate outline icon"></i></div></td>
		                        </tr>
                                {{ end }}
	                        </tbody>
                        </table>
		            </div>
		            <div class="ui attached segment">
                                 {{ if .Pages}}
                                 <div class="ui pagination menu">
                                     {{ range  $index, $element := .Pages }}
                                         <a class="active item">
                                             <a href="{{$Link}}?offset={{$element.Offset}}">{{ $element.Number }}</a>
                                         </a>
                                     {{ end }}
                                 </div>
                                 {{ end }}
	                    </div>
	            </div>
            </div>
        </div>
    </div>
    <div class="ui small basic delete modal">
	    <div class="ui icon header">
		    <i class="trash icon"></i>
            {{.i18n.Tr "Subnet Deletion"}}
	    </div>
	    <div class="content">
		    <p>{{.i18n.Tr "Subnet_Deletion_Confirm"}}</p>
	    </div>
	    {{template "_delete_modal_actions" .}}
    </div>
{{template "_footer" .}}
