{{template "_head" .}}
<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New User"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="username">{{.i18n.Tr "Username"}}</label>
									<input id="username" name="username" autofocus required>
								</div>
								<div class="required inline field">
									<label for="password">{{.i18n.Tr "Password"}}</label>
									<input id="password"  name="password" type="password" autocomplete="off" required>
								</div>
								<div class="required inline field">
									<label for="confirm">{{.i18n.Tr "Confirm"}}</label>
									<input id="confirm"  name="confirm" type="password" autocomplete="off" required>
								</div>
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New User"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}

