{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
    <div id="dashboard" class="twelve wide column content"></div>
    {{ if eq .i18n.Locale.Lang "zh-CN" }}
        <script type="text/javascript" src="js/dashboard-zh.js"></script>
    {{ else }}
        <script type="text/javascript" src="js/dashboard-en.js"></script>
    {{ end }}
            </div>
        </div>
    </div>
{{template "_footer" .}}
