{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Glusterfs Cluster"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" value="{{ .Glusterfs.Name }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="createdat">{{.i18n.Tr "Created_At"}}</label>
                        <input id="createdat" name="createdat" value="{{ .Glusterfs.CreatedAt }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="updatedat">{{.i18n.Tr "Updated_At"}}</label>
                        <input id="updatedat" name="updatedat" value="{{ .Glusterfs.UpdatedAt }}" disabled>
                    </div>
                    <div class="inline field">
                        <label for="cluster">{{.i18n.Tr "Openshift Cluster"}}</label>
                        <input id="cluster" name="cluster" value="{{ .Glusterfs.ClusterID }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="flavor">{{.i18n.Tr "Flavor"}}</label>
                        <select name="flavor" id="flavor" class="ui selection dropdown">
			   {{ range .Flavors }}
                              <option value="{{ .ID }}" {{ if eq $.Glusterfs.Flavor .ID }}selected{{end}}>{{ .ID }}-{{ .Name }}</option>
                           {{ end }}
                        </select>
		    </div>
                    <div class="required inline field">
                        <label for="nworkers">{{.i18n.Tr "Number of Workers"}}s</label>
                        <input id="nworkers"  name="nworkers" value="{{ .Glusterfs.WorkerNum }}" required>
                    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Glusterfs Cluster"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

