{{template "_head" .}}
<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="{{.Link}}" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Image"}}
							</h3>
							<div class="ui attached segment">
								<div class="required inline field">
									<label for="name">{{.i18n.Tr "Name"}}</label>
									<input id="name" name="name" autofocus required>
								</div>
								<div class="inline field">
									<label for="instance">{{.i18n.Tr "From Instance"}}</label>
									<select name="instance" id="instance" class="ui selection dropdown">
										 <option value="0" selected>{{.i18n.Tr "None"}}</option>
								   {{ range .Instances }}
										 <option value="{{ .ID }}">{{ .ID }}-{{ .Hostname }}</option>
									   {{ end }}
									</select>
								</div>
								<div class="inline field">
									<label for="url">{{.i18n.Tr "Download Url"}}</label>
									<input id="url" name="url" autocomplete="off">
								</div>
								<div class="required inline field">
									<label for="architecture">{{.i18n.Tr "Architecture"}}</label>
									<select name="architecture" id="architecture" class="ui selection dropdown">
                                         <option value="0" selected>x86_64</option>
                                         <option value="1">s390x</option>
                                    </select>
								</div>
								<div class="required inline field">
                                    <label for="osVersion">{{.i18n.Tr "OS Version"}}</label>
                                    <input id="osVersion" name="osVersion" autocomplete="off">
                                </div>
                                <div class="inline field">
                                    <label for="diskType">{{.i18n.Tr "Disk Type"}}</label>
                                    <input id="diskType" name="diskType" autocomplete="off">
                                </div>
                                <div class="required inline field">
                                    <label for="virtType">{{.i18n.Tr "Virtualization Type"}}</label>
                                    <select name="virtType" id="virtType" class="ui selection dropdown">
                                         <option value="kvm-x86_64" selected>{{.i18n.Tr "KVM on x86_64"}}</option>
                                         <option value="kvm-s390x" selected>{{.i18n.Tr "KVM on Z"}}</option>
                                         <option value="zvm">{{.i18n.Tr "z/VM"}}</option>
                                    </select>
                                </div>
                                {{ if .IsAdmin }}
								<div class="inline field">
									<label for="ocpLB">{{.i18n.Tr "OpenShift_LB"}}</label>
									<div class="ui selection dropdown">
									  <input id="ocpLB" name="ocpLB" type="hidden">
									  <i class="dropdown icon"></i>
									  <div data-value="no" class="default text">{{.i18n.Tr "no"}}</div>
									  <div class="menu">
										<div class="item" data-value="yes" data-text="yes">{{.i18n.Tr "yes"}}</div>
										<div class="item" data-value="no" data-text="no">{{.i18n.Tr "no"}}</div>
									  </div>
									</div>
								</div>
                                {{ end }}
                                <div class="required inline field">
                                    <label for="userName">{{.i18n.Tr "Default Username"}}</label>
                                    <input id="userName" name="userName" autocomplete="off">
                                </div>
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Create New Image"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}


