{{template "_head" .}}
    <div class="admin user">
	    <div class="ui container">
		    <div class="ui grid">
                {{template "_left" .}}
          	    <div class="twelve wide column content">
		            <h3>{{.i18n.Tr "Brief_Instructions"}}:</h3>
		            <div class="ui divider"></div>
        	 			  <h4>1. {{.i18n.Tr "Create_a_key"}}</h4>
{{.i18n.Tr "Create_a_key_content"}}
        	 			  <h4>2. {{.i18n.Tr "Create_a_gateway"}}</h4>
{{.i18n.Tr "Create_a_gateway_content"}}
        	 			  <h4>3. {{.i18n.Tr "Launch_an_instance"}}</h4>
{{.i18n.Tr "Launch_an_instance_content"}}
        	 			  <h4>4. {{.i18n.Tr "Create_a_floating_IP"}}</h4>
{{.i18n.Tr "Create_a_floating_IP_content"}}
        	 			  <h4>5. {{.i18n.Tr "Use_your_instance_and_modify_security_group_as_needed"}}</h4>
{{.i18n.Tr "ssh_key_login_cmd"}}<br>
{{.i18n.Tr "Use_your_instance_content"}}
        	 			  <h4>6. {{.i18n.Tr "Create_an_OpenShift_cluster"}} ({{.i18n.Tr "Advanced"}})</h4>
<a href="https://github.com/IBM/cloudland/wiki/Manual#create-an-openshift-cluster">https://github.com/IBM/cloudland/wiki/Manual#create-an-openshift-cluster</a>
		             </div>
                </div>
            </div>
        </div>
    </div>
{{template "_footer" .}}
