{{template "_head" .}}
<div class="user signup">
	<div class="ui middle very relaxed page grid">
        <div class="column" >
            <form class="ui form" action="{{.Link}}" method="post">
                <h3 class="ui top attached header">
                    {{.i18n.Tr "Update Interface"}}
                </h3>
                <div class="ui attached segment">
                    <div class="required inline field">
                        <label for="name">{{.i18n.Tr "Name"}}</label>
                        <input id="name" name="name" value="{{ .Interface.Name }}" required>
                    </div>
                    <div class="required inline field">
                        <label for="address">{{.i18n.Tr "IP Address"}}</label>
                        <input id="address" name="address" value="{{ .Interface.Address.Address }}" disabled>
                    </div>
                    <div class="required inline field">
                        <label for="macaddr">{{.i18n.Tr "Mac Address"}}</label>
                        <input id="macaddr" name="macaddr" value="{{ .Interface.MacAddr }}" disabled>
                    </div>
                    <div class="inline field">
                    	<label for="inbound">{{.i18n.Tr "Inbound Bandwidth"}}</label>
                    	<input id="inbound" name="inbound" value="{{ .Interface.Inbound }}">
                    </div>
                    <div class="inline field">
                    	<label for="outbound">{{.i18n.Tr "Outbound Bandwidth"}}</label>
                    	<input id="outbound" name="outbound" value="{{ .Interface.Outbound }}">
                    </div>
                    <div class="inline field">
                    	<label for="allow_spoofing">{{.i18n.Tr "Allow Spoofing"}}</label>
                    	<div class="ui selection dropdown">
                    	  <input id="allow_spoofing" name="allow_spoofing" type="hidden">
                    	  <i class="dropdown icon"></i>
			  {{if .Interface.AllowSpoofing }}
                    	      <div class="default text">{{.i18n.Tr "yes"}}</div>
			  {{else}}
                    	      <div class="default text">{{.i18n.Tr "no"}}</div>
			  {{end}}
                    	  <div class="menu">
                    		<div class="item" data-value="yes" data-text="yes">{{.i18n.Tr "yes"}}</div>
                    		<div class="item" data-value="no" data-text="no">{{.i18n.Tr "no"}}</div>
                    	  </div>
                    	</div>
                    </div>
                    <div class="inline field">
                        <label for="secgroups">{{.i18n.Tr "Security Groups"}}</label>
                        <select name="secgroups" id="secgroups" multiple="" class="ui multiple selection dropdown">
                            {{ $sgID := .SecgroupID }}
            			    {{ range .Secgroups }}
                                {{ if eq .ID $sgID }}
                                    <option value="{{ .ID }}" selected>{{ .ID }}-{{ .Name }}</option>
                                {{ else }}
                                    <option value="{{ .ID }}">{{ .ID }}-{{ .Name }}</option>
                                {{ end }}
                            {{ end }}
                        </select>
		    </div>
                    <div class="inline field">
                        <label></label>
                        <button class="ui green button">{{.i18n.Tr "Update Interface"}}</button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>
{{template "_footer" .}}

