{{template "_head" .}}

<script type="text/javascript">
	window.onload=function(){
		function downloadPrivate(filename, text){
			var pom = document.createElement('a');
			pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			pom.setAttribute('download', filename);
			pom.innerHTML = "Click To DownLoad PrivateKey";
			var target = document.getElementById("privateK");
			target.appendChild(pom);
		}
		var private = document.getElementById('prikey').innerHTML;
		downloadPrivate("rsaPrivateKey.txt", private);
	}
</script>

<div class="admin user">

    <div class="ui container">

        <div class="ui grid">

        {{template "_left" .}}
			<div class="user signup">
				<div class="ui middle very relaxed page grid">
					<div class="" >
						<form class="ui form" action="/keys/confirm" method="post">
							<h3 class="ui top attached header">
								{{.i18n.Tr "Create New Key"}}
							</h3>
							<div class="ui attached segment">
								<div class="inline field">
									 <label for="name">{{.i18n.Tr "Name"}}</label>
									 <input id="name" name="name" value="{{.KeyName}}" readonly>
								</div>
								<div class="inline field">
									<label>{{.i18n.Tr "Public Key"}}</label>
									<textarea id="pubkey"  name="pubkey" autocomplete="off" readonly>{{.PublicKey}} </textarea>
								</div>
								<div id="privateK" class="inline field">
									<label>{{.i18n.Tr "Private Key"}}</label>
									<textarea id="prikey" style="display:none" name="prikey" autocomplete="off" readonly>{{.PrivateKey}}</textarea>
								</div>
								<div class="inline field">
									<label></label>
									<button class="ui green button">{{.i18n.Tr "Confirm, I got private key"}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "_footer" .}}
