127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# each host
{% for host in groups['all'] %}
{{ hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2] }} {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}
