[Unit]
Description=cloudland service
After=network.target

[Service]
Type=simple
User=cland
EnvironmentFile=/etc/sysconfig/cloudland
ExecStart=/usr/local/bin/cloudland.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
