# -*- mode: sh -*-
cloud_no=0
cloud_domain=cloudland.edge.bluemix.net
image_repo=http://192.168.10.2/image
dns_server=10.0.80.11
external_vlan=2052
internal_vlan=1236
vxlan_mcast_addr=225.10.10.1
vxlan_interface=bond0
vlan_interface=bond0
vnc_interface=bond0
cpu_over_ratio=1
mem_over_ratio=1
disk_over_ratio=1
resolver_addr=192.168.1.125
use_lb=false
portmap_remote_ip=47.92.116.39
gluster_volume=virt-volume
