SCI_JOB_KEY=12345
SCI_LIB_PATH=/opt/sci/lib64
SCI_AGENT_PATH=/opt/sci/bin
SCI_LOG_ENABLE=yes
SCI_LOG_DIRECTORY=/opt/cloudland/log
SCI_ENABLE_LISTENER=yes
#SCI_ENABLE_FAILOVER=yes
SCI_USE_EXTLAUNCHER=yes
SCI_SEGMENT_SIZE=1048576
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/sci/lib64
SCI_CLIENT_ID={{ client_id }}
ZONE_NAME={{ zone_name }}
VIRT_TYPE={{ virt_type }}
