# -*- mode: sh -*-
dns_server={{ dns_server }}
cloud_domain={{ domain_name }}
cpu_over_ratio={{ cpu_over_ratio }}
mem_over_ratio={{ mem_over_ratio }}
disk_over_ratio={{ disk_over_ratio }}
vxlan_interface={{ vxlan_device }}
vlan_interface={{ network_device }}
use_lb=true
proxy_mode={{ proxy_mode }}
wds_address={{ wds_address }}
wds_admin={{ wds_admin }}
wds_pass={{ wds_pass }}
wds_pool_id={{ wds_pool_id }}
