/*

Copyright <holder> All Rights Reserved

SPDX-License-Identifier: Apache-2.0

*/
/* .ant-layout-sider-children {
  margin-right: -11px;
}
.ant-layout,
.ant-layout-content {
  width: 100%;
  height: 100%;
} */
.header {
  display: flex;
  justify-content: space-between;
}
.ant-dropdown-trigger {
  color: white;
}
.profileImg {
  width: 2.8rem;
  border-radius: 50%;
  border: 2px solid;
}
