[Unit]
Description=SCI daemon
After=network.target

[Service]
Type=forking
ExecStart=/opt/sci/sbin/scidv1
ExecStop=/usr/bin/killall scidv1
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
